*{
    box-sizing: border-box;
}
 header{
 display: inline block; 
 position: relative; 
} 
input{

  float: left; 
  margin-left: 10px;
  margin-top: 10px; 
}

h2{
    border-style: outset inset;
    text-align: center;

    color: rgb(226, 35, 35);
}
body{
    background-color: lightblue;
    position: relative;
}


#container{
    margin-top: 14px;
    float: right;
    width: 65%;
}   
#container2{
    float:left ;
    width: 35%;
}
img{
    
     margin: 1px;
    display: inline-block;
    width: 20%;
    height: 300px;
}
ul{
    margin-top: 15px;
    width: 100%;
    /* background-color: grey; */
}

li{
    display: block;
    border-style: outset inset;
     background-color:rgb(161, 161, 161);

    font-size: 30px;
    font-weight: bold;
    list-style: none;
    color: black;

}
