*{
    box-sizing: border-box;
}

h2{
    text-align: center;

    color: rgb(226, 35, 35);
}
body{
    background-color: rgb(232, 137, 245);
}


#container{
    float: right;
    width: 65%;
}   
#container2{
    float:left ;
    width: 35%;
}
img{
     margin: 1px;
    display: inline-block;
    width: 20%;
    height: 300px;
}
ul{
    width: 100%;
    background-color: rgb(8, 216, 243);
}

li{
    font-size: 30px;
    font-weight: bold;
    list-style: none;
    color: rgb(177, 50, 145);

}